.services {
  padding-top: 140px;
  padding-bottom: 140px;
}

.services-title {
  margin-bottom: 60px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}

.services-item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.services-item-title {
  font-size: 28px;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
}

.services-item-description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
