.about {
  padding-top: 140px;
  padding-bottom: 140px;
}

.about-title {
  margin-bottom: 60px;
}

.about-content {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

.about-content p {
  margin-bottom: 24px;
}
