.testimonials {
  background-color: #f6f6f8;
  padding-top: 140px;
  padding-bottom: 140px;
}

.testimonials-top {
  margin-bottom: 60px;
  text-align: center;
}

.testimonials-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.testimonials-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonials-author-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonials-author {
  font-size: 24px;
  font-weight: 600;
  color: #2352de;
  margin-bottom: 20px;
}

.testimonials-text {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3;
}

.testimonials-video-wrapper {
  width: 570px;
  height: 400px;
  position: relative;
}

.testimonials-video {
  border: none;
  width: 570px;
  height: 400px;
}

.testimonials-play-btn {
  width: 85px;
  height: 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
