.section-title {
  margin: 0;
  font-size: 48px;
  color: #333;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 10px;
  background-color: #2352de10;
}
